<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.oa.process.mapper.ProcessTemplateMapper">
    <!--Mapper接口和映射文件
        1.mapper接口的全类名和映射文件namespace保持一致
        2.mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->

    <select id="selectPage" resultType="com.test.model.process.ProcessTemplate">
        SELECT
        p.id,
        p.`name`,
        p.icon_url,
        p.process_type_id,
        p.form_props,
        p.form_options,
        p.description,
        p.process_definition_key,
        p.process_definition_path,
        p.process_model_id,
        p.`status`,
        pty.`name` AS processTypeName
        FROM
        oa_process_template p
        LEFT JOIN	 oa_process_type pty on pty.id = p.process_type_id
        WHERE p.is_deleted = 0
    </select>
</mapper>