<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.oa.process.mapper.ProcessMapper">
    <!--Mapper接口和映射文件
        1.mapper接口的全类名和映射文件namespace保持一致
        2.mapper接口中的方法的方法名要和映射文件中的sql的id保持一致
    -->

    <sql id="process">
        p.id,
        p.process_code,
        p.user_id,
        p.process_template_id,
        p.process_type_id,
        p.title,
        p.description,
        p.form_values,
        p.process_instance_id,
        p.current_auditor,
        p.`status`,
        p.create_time,
        p.update_time,
        pte.`name` AS processTemplateName,
        pty.`name` AS processTypeName,
        u.name
    </sql>

    <select id="selectPage" resultType="com.test.vo.process.ProcessVo">
        select <include refid="process"/>
        FROM
        oa_process p
        LEFT JOIN oa_process_template pte on pte.id =p.process_template_id
        LEFT JOIN oa_process_type pty on pty.id = p.process_type_id
        LEFT JOIN sys_user u on u.id = p.user_id
        
        <where>
            <!--条件带有keyword(process_code/title/phone/name)-->
            <if test="vo.keyword != null and vo.keyword !=''">
                and  (p.process_code like concat('%',#{vo.keyword},'%')
                or p.title like concat('%',#{vo.keyword},'%')
                or u.phone like concat('%',#{vo.keyword},'%')
                or u.name like concat('%',#{vo.keyword},'%')
                )
            </if>
            <!--条件中带有userId-->
            <if test="vo.userId != null and vo.userId !=''">
                and p.user_id = #{vo.userId}
            </if>
            <!--条件带有status-->
            <if test="vo.status != null and vo.status !=''">
                and p.`status` = #{vo.status}
            </if>
            <!--条件带有createTimeBegin-->
            <if test="vo.createTimeBegin != null and vo.createTimeBegin !=''">
                and p.create_time >= #{vo.createTimeBegin}
            </if>
            <!--条件带有createTimeEnd,<需要转义为&lt;-->
            <if test="vo.createTimeEnd != null and vo.createTimeEnd !=''">
                and p.create_time &lt;= #{vo.createTimeEnd}
            </if>
        </where>
        order by id desc
    </select>
</mapper>